# remove all pycache files
*.pyc
__pycache__/

#ignore Data
Data/
Old
Data_Loss
Step1_Auto_position_plots
Annotations_final.csv
Delais_video_tracking.csv
Sub_10_annotations.csv
test.csv
subject_info_modified.npy
